.container-project-form {
    display: flex;
    flex-direction: column;

    .subtitle-project-form {
        color: var(--gray-700);
        margin-bottom: 2rem;
    }

    .register-form-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .register-form-row {
            width: 25rem;

            .date-picker-wrapper {
                position: relative;
                display: inline-block;
            }

            .date-picker-input {
                width: 100%;
                padding-right: 2rem;
            }

            .calendar-icon {
                position: absolute;
                top: 50%;
                right: 0.75rem;
                transform: translateY(-50%);
                color: #888;
                pointer-events: none;
            }

            .date-picker {
                width: 12rem;
                height: 2rem;
                border-radius: 4px;
                border: 1px solid var(--gray-400);
                outline: none;
                padding: 1rem;
                font-size: 1rem;
            }
            .date-picker:focus {
                outline: none;
                border: none;
                box-shadow: 0 0 0 2px #49b4bb;
            }
            .date-picker::placeholder {
                color: var(--gray-500);
            }
        }
    }

    .footer-buttons-project-form {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
