.container-register {
    display: flex;
    flex-direction: column;

    .subtitle {
        margin-bottom: 1rem;
    }

    .register-form-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .footer-buttons {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
